p {
	padding-top: 10px;
	text-align: center;
	font-size: 40px;
}

#buttons {
	text-align: center;
}

button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#table {
	padding-top: 30px;
	text-align: left;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

table, th, td {
    border: 1px solid black;
}

th {
	height: 25px;
}

th,td {
	padding: 10px;
}